<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.emsc-csem.test-fred"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Emsc Quakes</name>

    <description>
        A simple Emsc quakes application
    </description>

    <author href="http://www.emsc-csem.org" email="roussel@emsc-csem.org">
        ROUSSEl Frédéric
    </author>
	
<!--	<access origin="*" subdomains="true"/> -->
	<access origin="*" /> 
	<preference name="phonegap-version" value="2.9.0" />
	<!-- <preference name="phonegap-version" value="2.0.0" /> -->

	
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<!--
	<plugin name="PushPlugin" value="com.plugin.gcm.PushPlugin" />
	-->
	<!--  <gap:plugin name="GenericPush" /> -->
	<gap:plugin name="PushPlugin" value="com.plugin.gcm.PushPlugin" /> 
	
	<icon src="icons/icon16.png"  width="16" height="16" />
	<icon src="icons/icon18.png"  width="18" height="18" />
	<icon src="icons/icon32.png"  width="32" height="32" />
	<icon src="icons/icon64.png"  width="64" height="64" />
	<icon src="icons/icon128.png"  width="128" height="128" />
	
	
    <!-- Deprecated plugins element. Remove in 3.0 
	  <plugins>
    </plugins>
	
	-->
  
	<!--
	<plugins>
		<plugin name="Device" value="org.apache.cordova.Device" />
		<plugin name="Capture" value="org.apache.cordova.Capture"/>
		<plugin name="Camera" value="org.apache.cordova.CameraLauncher" />
		<plugin name="File" value="org.apache.cordova.FileUtils" />
		<plugin name="FileTransfer" value="org.apache.cordova.FileTransfer" />
	 </plugins>	
	 -->
</widget>